.main-box{
    width: 100%;
 
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-cont{
    width: 50%;
    display: flex;
    flex-direction: column;
  padding: 5% 5% 5% 5%;
}

.img-cont .title
{
font-size: 3rem;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.img-cont p{
    font-size: 0.9rem;
    text-transform: capitalize;
letter-spacing: 1px;
    /* margin-right: 50px; */
}
.img-box{
    width: 50%;
    padding:0% 5% 5% 5%;
}
@media all and (max-width:1200px){
    .img-box img{
        width: 420px;
    }
}
@media all and (max-width:940px){
    .main-box{
        display: flex;
       flex-direction: column;
    }

    .img-cont{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    .img-cont p{
   
        font-size: 0.9rem;
        text-transform: capitalize;
    letter-spacing: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .img-box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; 
    }
}